
<div style="text-align: center;">
    <div>
        <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>

        <div style="text-align: center;" *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl" >
        </div>
        

        <br/>
        <div class="btn-wrapper">
            <div class="takePhoto-btn" *ngIf="showWebcam">
                <button type="button" (click)="triggerSnapshot()">
                    <p>
                        Tomar foto
                    </p>
                </button>
            </div>
            <div class="retakePhoto-btn" *ngIf="!showWebcam">
                <button type="button" (click)="retakePhoto()">
                    <p>
                        Otra vezzz
                    </p>
                </button>
            </div>
        </div>
        
        <!-- <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">Switch</div> -->

    </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>
