
div.btn-wrapper{

    display: flex;
    margin: 15px auto;

    .takePhoto-btn {
        margin: 0 auto;
        width: 100%;
        max-width: 150px;

        button{
            width: 100%;
            height: 80px;
            margin: auto;
            display: block;
            max-width: 280px;
            border: 1px solid #c3c3c3;
            background-color: transparent;
            color: #575757;
            font-size: 16px;
            border-radius: 10px;
        }
    }

    .retakePhoto-btn{
        margin: 0 auto;
        width: 100%;
        max-width: 150px;

        button{
            width: 100%;
            height: 80px;
            margin: auto;
            display: block;
            max-width: 280px;
            border: 1px solid #c3c3c3;
            background-color: transparent;
            color: #575757;
            font-size: 16px;
            border-radius: 10px;
        }
    }
}

/* .snapshot{
    text-align: center;
    img{
        max-width: 800px;
        max-height: 800px;
    }
} */
ul.links{
    padding-bottom: 20px;
}